<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>{% if title %}Blog - {{ title }}{% else %}Blog{% endif %}</title>
</head>


<body>

    <!-- NAVBAR -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-3" href="https://bulma.io">
                Django site
            </a>

            <a role="button" class="navbar-burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'homepage' %}">
                    Home
                </a>
                <a class="navbar-item">
                    About
                </a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'login' %}">
                    Login
                </a>
                <a class="navbar-item" href="{% url 'register' %}">
                    Register
                </a>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->

    <section class="section">

    <!-- COLUMNS: CONTENT AND SIDEBAR -->
    <div class="container">
        <div class="columns">
        <!-- CONTENTS -->
        <div class="column is-two-thirds">

            {% block content %}{% endblock %}

        </div>
        <!-- END CONTENTS -->

        <!-- SIDEBAR -->
        <div class="column">

            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h3 class="is-size-4">Our sidebar</h3>
                        <p>You can put any information here...</p>
                    </div>

                    <nav class="panel">
                        <a class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-terminal" aria-hidden="true"></i>
                            </span>
                            Latest Posts
                        </a>

                        <a class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-terminal" aria-hidden="true"></i>
                            </span>
                            Annoucements
                        </a>

                        <a class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-terminal" aria-hidden="true"></i>
                            </span>
                            Calendars
                        </a>

                        <a class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-terminal" aria-hidden="true"></i>
                            </span>
                            etc
                        </a>
                    </nav>

                </div>

            </div>

        </div>
        <!-- END SIDEBAR -->
    </div>
    </div>
    <!-- END COLUMNS: CONTENT AND SIDEBAR -->

    </section>


<footer class="footer is-fixed-bottom">
    <div class="content has-text-centered">
        <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>